

body {
    background-color: #cbe0f1;
}
.main {
    /* text-align: center; */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
    transition: all 0.3s linear;
    padding: 32px;
    width: 45%;
    margin-left: 180px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;


}


.main1 {
    position: fixed;
    left: 912px;
    bottom: 189px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
    transition: all 0.3s linear;
    padding: 28px;
    width: 27%;
    display: flex;
    justify-content: center;
  
    flex-wrap: wrap;
}
li{
    list-style:circle;
    font-size: 19px;

}
button{
    /* background: #fff; */
    height: 30px;
    width: 30px;
    margin: 2px;
    box-shadow:0 2px 1px rgb(0 0 0 / 51%);
    border-radius: 8px;
    border: none;
}
button:active{
    background-color: #857f7f;
    color: white;
}
button:hover{
    cursor: pointer;
}
textarea{
    margin-left: 180px;
    width: 49%;
    font-size: 19px;
}
.btn.active {
    background-color: #312d2d;
    color: #fff;
}

.btn.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #165ddf;
        color: #fff;
    }

}


button.backspace{
    width: 96px
}
button#del {
    width: 50px;
}

button#tab{
    width: 70px;
}
button#caps{
    width: 82px;
}
button#enter{
    width: 40px;
}
button#shift{
    width: 59px;
}
button#com {
    height: 35px;
    width: 80px;
}
button#space {
    height: 35px;
    width: 381px;
}

.ones{
    color:black;
}


.red{
color: red;
}
button#\@ {
    width: 53px;
    height: 35px;
}
.two button{
    width: 32px;
}
.three button{
    margin: 3px;
    width: 32px;
}
.four button{
    width: 36px;
    margin:3px ;
}

